#root {
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* View Options */
.view-options {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.view-option {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

.view-option.is-active {
  background-color: rgb(153, 51, 255);
  color: #FFFFFF;
}

/* Search */
.search-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.search-input {
  padding: 2rem;
  font-size: 3rem;
  width: 100%;
}

/* Trending/Search Grid */
.grid-container {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.trending-search-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 1rem 0;
}

/* Gif Item */
.gif-item {
  position: relative;
}

.favourite-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  z-index: 10;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.favourite-button.is-active {
  animation: pop 0.3s;
}

.favourite-button-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.favourite-button .heart-outline {
  fill: #FFFFFF;
  transition: fill 0.2s;
}

.favourite-button.is-active .heart-outline {
  fill: red;
}

.favourite-button .heart-filled {
  fill: red;
  transform: scale(0);
  transition: transform 0.1s;
}

.favourite-button.is-active .heart-filled {
  transform: scale(1);
}

.gif-item-image-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.gif-item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gif-item-image-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.gif-item-spinner {
  animation: spin 1s linear infinite;
}

/* Error */
.error-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: red;
}

.error-message {
  font-size: 2rem;
  color: #FFFFFF;
}

/* Utility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}