#root {
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Search */
.search-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.search-input {
  padding: 2rem;
  font-size: 3rem;
  width: 100%;
}

/* Trending/Search Grid */
.grid-container {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.trending-search-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 1rem 0;
}

/* Gif Item */
.gif-item-image-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.gif-item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gif-item-image-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.gif-item-spinner {
  animation: spin 1s linear infinite;
}

/* Error */
.error-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: red;
}

.error-message {
  font-size: 2rem;
  color: #FFFFFF;
}

/* Utility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}